.footer
  padding: 50px 0
  .wrapper
    +display-flex
    +flex-direction(row)
    +align-items(center)
    +justify-content(space-between)

  .footer-menu
    +display-flex
    +flex-direction(row)
    +align-items(center)
    &:last-child
      .footer-menu-link
        margin-left: 14px
        &:first-child
          margin: 0

  .footer-menu-link
    display: block
    font-size: 12px
    color: rgba($color-dark, .7)
    line-height: 19px

@media (max-width: 640px)
  .footer
    padding: 30px 0
    .wrapper
      display: block
    .footer-menu
      +justify-content(center)
      margin-bottom: 10px
