.section--dependent
  .section-heading
    max-width: 360px
    margin: 0 0 30px

  .features
    max-width: 300px
  .feature
    margin: 0 0 18px
    &:last-child
      margin-bottom: 0
    .feature-icon
      margin: 0 0 10px
