svg.dependent-devices height="621" viewbox="0 0 454 621" width="454" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  defs
    rect#dependent-devices-b height="540" rx="30" width="276"
    filter#dependent-devices-a filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="12" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="17"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.072095788 0"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"
      fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"
      fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter3"
      feoffset in="shadowSpreadOuter3" result="shadowOffsetOuter3"
      fecolormatrix in="shadowOffsetOuter3" result="shadowMatrixOuter3" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
        femergenode in="shadowMatrixOuter3"
    path#dependent-devices-c d="M10 54h256v432H10z"
    rect#dependent-devices-f height="24" rx="3" width="10" x="154" y="102"
    filter#dependent-devices-e filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="12" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="17"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.072095788 0"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"
      fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"
      fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter3"
      feoffset in="shadowSpreadOuter3" result="shadowOffsetOuter3"
      fecolormatrix in="shadowOffsetOuter3" result="shadowMatrixOuter3" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
        femergenode in="shadowMatrixOuter3"
    path#dependent-devices-h d="M28 11s-.437 22.065 0 35c-.437 13.16-14 21-14 21h128s-13.563-7.84-14-21c.437-12.935 0-35 0-35 0-6.075-22.386-11-50-11S28 4.925 28 11z"
    filter#dependent-devices-g filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="12" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="17"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.072095788 0"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"
      fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"
      fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter3"
      feoffset in="shadowSpreadOuter3" result="shadowOffsetOuter3"
      fecolormatrix in="shadowOffsetOuter3" result="shadowMatrixOuter3" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
        femergenode in="shadowMatrixOuter3"
    path#dependent-devices-j d="M28 292s-.437-22.065 0-35c-.437-13.16-14-21-14-21h128s-13.563 7.84-14 21c.437 12.935 0 35 0 35 0 6.075-22.386 11-50 11s-50-4.925-50-11z"
    filter#dependent-devices-i filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="12" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="17"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.072095788 0"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"
      fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"
      fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter3"
      feoffset in="shadowSpreadOuter3" result="shadowOffsetOuter3"
      fecolormatrix in="shadowOffsetOuter3" result="shadowMatrixOuter3" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
        femergenode in="shadowMatrixOuter3"
    rect#dependent-devices-l height="180" rx="21" width="156" y="61"
    filter#dependent-devices-k filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="12" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="17"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.072095788 0"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"
      fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"
      fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter3"
      feoffset in="shadowSpreadOuter3" result="shadowOffsetOuter3"
      fecolormatrix in="shadowOffsetOuter3" result="shadowMatrixOuter3" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
        femergenode in="shadowMatrixOuter3"
    rect#dependent-devices-m height="160" rx="12" width="136" x="10" y="71"
  g fill="none" fill-rule="evenodd"
    g transform="translate(34 22)"
      use fill="#000" filter="url(#dependent-devices-a)" xlink:href="#dependent-devices-b"
      use fill="#FFF" xlink:href="#dependent-devices-b"
      mask#dependent-devices-d fill="#FFF"
        use xlink:href="#dependent-devices-c"
      use fill="#F2F2F2" xlink:href="#dependent-devices-c"
      image height="432" mask="url(#dependent-devices-d)" width="256" x="10" xlink:href=asset_url("images/#{I18n.locale}/dependent-iphone.jpg") y="54"
    g transform="translate(257 273)"
      use fill="#000" filter="url(#dependent-devices-e)" xlink:href="#dependent-devices-f"
      use fill="#FFF" xlink:href="#dependent-devices-f"
      use fill="#000" filter="url(#dependent-devices-g)" xlink:href="#dependent-devices-h"
      use fill="#FFF" xlink:href="#dependent-devices-h"
      use fill="#000" filter="url(#dependent-devices-i)" xlink:href="#dependent-devices-j"
      use fill="#FFF" xlink:href="#dependent-devices-j"
      use fill="#000" filter="url(#dependent-devices-k)" xlink:href="#dependent-devices-l"
      use fill="#FFF" xlink:href="#dependent-devices-l"
      mask#dependent-devices-n fill="#FFF"
        use xlink:href="#dependent-devices-m"
      use fill="#4E4E4E" xlink:href="#dependent-devices-m"
      image height="160" mask="url(#dependent-devices-n)" width="136" x="10" xlink:href=asset_url("images/#{I18n.locale}/dependent-watch.png") y="71"
