svg.specialist-devices height="528" viewbox="0 0 878 528" width="878" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  defs
    rect#specialist-devices-c height="460" rx="10" width="788" x="43"
    filter#specialist-devices-b filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="12" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="17"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.072095788 0"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"
      fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"
      fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter3"
      feoffset in="shadowSpreadOuter3" result="shadowOffsetOuter3"
      fecolormatrix in="shadowOffsetOuter3" result="shadowMatrixOuter3" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
        femergenode in="shadowMatrixOuter3"
    path#specialist-devices-d d="M0 0h744v399H0z"
    path#specialist-devices-a d="M0 0h744v399H0z"
    mask#specialist-devices-f fill="#FFF" height="399" width="744" x="0" y="0"
      use xlink:href="#specialist-devices-a"
    mask#specialist-devices-g fill="#FFF" height="399" width="744" x="0" y="0"
      use xlink:href="#specialist-devices-a"
    path#specialist-devices-i d="M0 460.992c0-1.1.892-1.992 1.993-1.992h870.014c1.1 0 1.993.893 1.993 1.992v5.508c0 4.142-3.363 7.5-7.506 7.5H7.506C3.361 474 0 470.634 0 466.5v-5.508z"
    filter#specialist-devices-h filterunits="objectBoundingBox" height="200%" width="200%" x="-50%" y="-50%"
      feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"
      fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="1"
      fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.10510077 0"
      femorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter2"
      feoffset in="shadowSpreadOuter2" result="shadowOffsetOuter2"
      fecolormatrix in="shadowOffsetOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.0260133605 0"
      femerge
        femergenode in="shadowMatrixOuter1"
        femergenode in="shadowMatrixOuter2"
  g fill="none" fill-rule="evenodd"
    g transform="translate(2 22)"
      use fill="#000" filter="url(#specialist-devices-b)" xlink:href="#specialist-devices-c"
      use fill="#FFF" xlink:href="#specialist-devices-c"
    text fill="#000" font-family="Helvetica" font-size="11" opacity=".155" transform="translate(2 22)"
      tspan x="400.09" y="448"  Dependn’ Book
    g transform="translate(67 52)"
      mask#specialist-devices-e fill="#FFF"
        use xlink:href="#specialist-devices-d"
      use fill="#F2F2F2" xlink:href="#specialist-devices-d"
      image height="463" mask="url(#specialist-devices-e)" width="744" xlink:href=asset_url("images/#{I18n.locale}/specialist-macbook.jpg")
      use mask="url(#specialist-devices-g)" opacity=".07" stroke="#979797" stroke-width="2" xlink:href="#specialist-devices-a"
    g transform="translate(2 22)"
      use fill="#000" filter="url(#specialist-devices-h)" xlink:href="#specialist-devices-i"
      use fill="#FFF" xlink:href="#specialist-devices-i"
